<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lumo.daemon</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{DAEMON_PATH}}</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{HOME}}</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/stdout.log</string>

    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/stderr.log</string>

    <key>WorkingDirectory</key>
    <string>{{HOME}}</string>

    <key>ProcessType</key>
    <string>Background</string>

    <key>Nice</key>
    <integer>5</integer>

    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
